body{
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #fafafa;
}

h1{
    font-weight: 400;
    margin-left: 1rem;
}

p{
    margin-left: 1rem;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}

li{
    padding: 5px 25px;
}

li:first-child{
    padding-left: 1rem;
}

li a.link{
    color: rgb(142, 142, 142);
}

li a.active{
    color : cornflowerblue;
}

li a{
    color: rgb(142, 142, 142);
    transition: all 0.2s ease;
}

li a:hover{
    color: cornflowerblue;
}

.back-section a{
    padding: 15px;
    background-color: cadetblue;
    color: white;
    margin: 5px 10px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.back-section a:first-child{
    margin-left: 0;
}

.back-section a:hover{
    background-color: rgb(72, 122, 123);
}

.single-product{
    border: 1px solid #bbb9b9;
    border-radius: 6px;
    padding: 25px 20px;
    margin: 20px 0;
    width: 70%;
}

.single-product:hover{
    box-shadow: 0 0 5px cadetblue;
}

.single-product h3{
    /* margin: 0 0 15px; */
    margin-top: 0;
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 10px;
}

.single-product .product-link{
    padding: 8px;
    background-color:rgb(107, 107, 241);
    color: white;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.single-product .product-link:hover{
    background-color: rgb(82, 82, 176);
}

form{
    padding: 25px;
    background-color: white;
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

form h1{
    text-align: center;
    margin-left: 0;
    font-weight: 400;
}

.form-row{
    display: flex;
    flex-direction: column;
}

.form-input{
    border: none;
    margin: 15px 0;
    background-color: #f4f2f2;
    border-radius: 4px;
    height: 30px;
    padding: 0 8px;
}

.form-input:focus{
    border: noe;
    outline: none;
    box-shadow: 0 0 3px rgb(107, 107, 241);
}

form button{
    width: 100%;
    height: 35px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 6px;
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: rgb(150, 73, 222);
}

.service-content p{
    text-align: justify;
    padding: 10px 15px 10px 0;
}

.service-list{
    background-color: cadetblue;
    border: none;
    border-radius: 4px;
    flex-wrap: wrap;
    display: flex;
}

.service-item{
    border-bottom: 1px solid white;
    flex: 100%;
    padding: 5px 25px;
}

.service-item:last-child{
    border: none;
}

.service-item:first-child{
    padding-left: 25px;
}

.service-item a{
    color: white;
}

.service-item a:hover{
    color: rgb(189, 189, 255);
}

.back-service{
    padding: 15px;
    background-color: cadetblue;
    color: white;
    margin: 5px 10px;
    border-radius: 6px;
    transition: all 0.2s ease;
    margin-left: 1rem;
}

.back-service:hover{
    background-color: rgb(72, 122, 123);
}

.about-time{
    color: rgb(142, 142, 142);
    margin-left: 1rem;
}

.about-time:hover{
    color: cornflowerblue;
}

.about-time.active{
    color: cornflowerblue;
}